<div class="bg-primary pt-2 pb-2">
   <div class="container">
     <div class="row">
         <div class="col-md-1">
            <div class="d-flex justify-content-end">
             <div class="d-flex flex-column align-items-center">
                  <img src="/assets/header_govco.png" alt="image" width="100" height="auto" class="mb-3" />
                  <img src="/assets/Marca_país_Colombia_logo.svg.png" alt="image" width="80" height="80" />
             </div>
            </div>
         </div>
         <div class="col-md-6">
          <div class="border border border-white border-bottom-0 border-top-0 border-right-0 pl-2 pt-2">
              <h6 class="font1 text-white font-weight-bold">Ministerio de vivienda, Ciudad y Territorio de Colombia</h6>
              <p class="font2 text-white mb-1" style="font-size:12px;">Sede de Atención al usuario y correspondencia; Calle 18 No 7-59, Bogota D.C., Colombia </p>
              <p class="font2 text-white mb-1" style="font-size:12px;">Codigo postal: 110321 </p>
              <p class="font2 text-white mb-1" style="font-size:12px;">Sede Administrativa "la Botica": Carrera 6 No 8-77, Bogota D.C., Colombia</p>
              <p class="font2 text-white mb-1" style="font-size:12px;">Horario de Atención: lunes a viernes, 8:00 am a 4:00 pm</p>
             <div class="mb-2">
               <span class="font2 text-white pr-2" style="font-size:12px;"><img src="/assets/twiter.svg" alt="" height="30px">Twiter</span>
               <span class="font2 text-white pr-2" style="font-size:12px;"><img src="/assets/instagram.svg" alt="" height="30px">Instagram</span>
               <span class="font2 text-white pr-2" style="font-size:12px;"><img src="/assets/facebook.svg" alt="" height="30px">Facebook</span>
               <span class="font2 text-white pr-2" style="font-size:12px;"><img src="/assets/twiter.svg" alt="" height="30px">Youtube</span>
             </div>
              <h6 class="font1 text-white font-weight-bold">Portal Historico MVCT</h6>
          </div>
         </div>
         <div class="col-md-5">
            <div class="border border border-white border-bottom-0 border-top-0 border-right-0 pl-2 pt-2">
                <h6 class="font1 text-white font-weight-bold">Contacto</h6>
                <div class="d-flex mb-1" >
                    <img src="/assets/phone.svg" alt="" height="15px">
                    <span  class="font2 text-white" style="font-size:12px;">&nbsp;Telefono Conmutador: +57 (1) 419 70 99</span>
                </div>
                <div class="d-flex mb-1" >
                    <img src="/assets/phone.svg" alt="" height="15px">
                    <span  class="font2 text-white" style="font-size:12px;">&nbsp;Linea Gratuita: 018000 431 664</span>
                </div>
                <div class="d-flex mb-1" >
                    <img src="/assets/email.svg" alt="" height="17px" width="16px">
                    <span  class="font2 text-white" style="font-size:12px;">&nbsp;Correo Institucional: <span class="font-weight-bold">correspondencia@minvivienda.gov.co</span></span>
                </div>
                <div class="d-flex mb-1" >
                    <img src="/assets/email.svg" alt="" height="17px" width="16px">
                    <span  class="font2 text-white" style="font-size:12px;">&nbsp;Correo Notificaciones Judiciales: <span class="font-weight-bold">notificacionesjudiciales@minvivienda.gov.co</span></span>
                </div>
                <div class="d-flex mb-1" >
                    <img src="/assets/polities.svg" alt="" height="20px">
                    <span  class="font1 text-white pt-1 font-weight-bold" style="font-size:12px;">&nbsp;Politica de Seguridad de la información</span>
                </div>
                <div class="d-flex mb-1" >
                    <img src="/assets/polities.svg" alt="" height="20px">
                    <span  class="font1 text-white pt-1 font-weight-bold" style="font-size:12px;">Politica de tratamiento y proteccion de datos personales</span>
                </div>
                <div class="d-flex mb-1" >
                    <img src="/assets/polities.svg" alt="" height="20px">
                    <span  class="font1 text-white pt-1 font-weight-bold" style="font-size:12px;">Politica de privacidad y condiciones de uso</span>
                </div>
            </div>
         </div> 
    
     </div>
   </div>
</div>