<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="row w-100 ml-0">
    <div class="col-lg-7">
      <img src="/assets/header_govco.png" alt="image" width="auto" height="26"  routerLink="/" />
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-lg-5">
      <div class="collapse navbar-collapse" id="navbarText">
        <div class="row w-100">
          <div class="col-lg-4">
            <a  routerLink="/mf" routerLinkActive="active" class="btn btn-primary border border-white btn-block btn-nav font2 pt-2 pb-2">INICIAR SESSION</a>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary border border-white  btn-block btn-nav font2 pt-2 pb-2">CARPETA CIUDADANA</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary border border-white  btn-block btn-nav font2 pt-2 pb-2">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row w-100"> 
    <div class="col-md-6">
      <img src="/assets/header_govco.png" alt="image" width="auto" height="26" />
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-md-6 bg-success">
      <div class="collapse navbar-collapse" id="navbarText">
        <div class="row w-100">
          <div class="col-md-4">
            <input type="button" class="btn btn-primary btn-login border border-white font2 btn-block"
              value="INICIAR SESSION" />
          </div>
          <div class="col-md-4">
            <input type="button" class="btn btn-primary btn-login border border-white font2 btn-block"
              value="CARPETA CIUDADANA" />
          </div>
          <div class="col-md-4">
            <div class="border border-white d-flex justify-content-between">
              <input type="text" class="bg-primary inp-search font2" placeholder="Buscar">
              <img src="/assets/search.svg" alt="" height="25px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-7">
      <img src="/assets/header_govco.png" alt="image" width="auto" height="26" />
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="col-md-5">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"></ul>
        <div class="d-flex w-100 justify-content-end">
          <input type="button" class="btn btn-primary btn-login border border-white font2" value="INICIAR SESSION" />
          <input type="button" class="btn btn-primary btn-login border border-white font2" value="CARPETA CIUDADANA" />
          <div class="border border-white div-search pl-2 pr-2 pt-1 pb-1">
            <input type="text" class="bg-primary inp-search font2" placeholder="Buscar">
            <img src="/assets/search.svg" alt="" height="25px">
          </div>
        </div>
      </div>
    </div>
  </div> -->
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary pl-5 pr-5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class=" w-50">
      <img src="/assets/header_govco.png" alt="image"  width="auto" height="26">
  </div>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link font2" routerLink="/mf" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->