<div class="nav-gestionar pl-5 pr-5 pt-2">
    <div class="row W-100">
        <div class="col-md-2">
            INICIO
        </div>
        <div class="col-md-2">
            MENU1
        </div>
        <div class="col-md-2">
            MENU2
        </div>
        <div class="col-md-2">
            MENU3
        </div>
        <div class="col-md-2">
            MENU4
        </div>
        <div class="col-md-2">
            MENU5
        </div>
    </div>
</div>
<div class="container">
    <h4 class="font1 color-font font-weight-bold">Gestionar formulario</h4>
    <div class=" border border-secondary main-form-gestionar p-4">
        <div class="form-group">
            <label for="" class="font2 color-font">Programa:</label>
            <input type="text" class="form-control w-25" id="" aria-describedby="emailHelp">
        </div>
    </div>
</div>